services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      FLASK_ENV: development

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "8000:8000"
    depends_on:
      - backend
    environment:
      API_URL: "http://backend:5000/api/metrics"
      GOOGLE_CLIENT_ID: "${GOOGLE_CLIENT_ID}"
      GOOGLE_CLIENT_SECRET: "${GOOGLE_CLIENT_SECRET}"
      FLASK_ENV: development

volumes:
  backend_data:
